@font-face {
  font-family: 'Gotham SSm';
  src: url('GothamSSm-Book.ttf') format('truetype');
  font-weight: 400;
  /* Normal/regular/book weight */
  font-style: normal;
}

@font-face {
  font-family: 'Gotham SSm';
  src: url('GothamSSm-Light.ttf') format('truetype');
  font-weight: 300;
  /* Lighter weight */
  font-style: normal;
}

@font-face {
  font-family: 'Gotham SSm';
  src: url('GothamSSm-Medium.ttf') format('truetype');
  font-weight: 500;
  /* Medium weight */
  font-style: normal;
}

body {
  font-family: 'Gotham SSm', sans-serif;
}

/* Adding styles for links to match the website's CSS */

/* unvisited link */
a:link {
  color: #226db4;
}

/* visited link */
a:visited {
  color: #226db4;
}

/* mouse over link */
a:hover {
  color: salmon;
}

/* selected link */
a:active {
  color: red;
}

@media (prefers-color-scheme: dark) {
  /* Dark mode CSS */
  a:link,
  a:visited {
    color: #5193ff;
    /* Lighter blue for links */
    text-decoration: none;
    /* Removes underline from links */
  }

  a:hover {
    color: #ffa07a;
    /* Lighter salmon for hover state */
  }

  a:active {
    color: #ff4500;
    /* Brighter red for active state */
  }
}